<!-- <footer>
    <p>Reject Modernity *_" <span>Embrace Masculanity</span></p>
</footer> -->


<footer id="footer">
    <div class="container-fluid">
        <a href="https://github.com/rajesh-pareek" target="_blank"><i class="social-icon fab fa-github" ></i></a>

        <a href="https://www.linkedin.com/in/rajesh-pareek/" target="_blank"><i class="social-icon fab fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://rajesh-999.onrender.com/" target="_blank">    <i class="social-icon fas fa-envelope" aria-idden="true"></i></a>
        <a href="https://github.com/rajesh-pareek" target="_blank"><i class="social-icon fab fa-instagram" aria-hidden="true"></i></a>
        <p class="last-one">Reject Comfort- <span>Embrace Masculanity</span></p>
        <p class="last-one">© Copyright rajesh-pareek</p>
    </div>
    

</footer>