<%- include("header") -%>

<body>
    <center> 
        <h4 style="font-family: 'Dongle', sans-serif;">Hi, There!</h4>
        <p class="warning">I have a limited database of 512 Mb please don't make any act to spoil it</p>
    </center>
</body>

<%-include("footer") -%>
